body {
  margin:0px;
  background-color:rgba(127, 127, 127, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1512px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:432px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:72px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:72px;
  display:flex;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Castellar Bold', 'Castellar';
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:17px;
  width:367px;
  height:39px;
  display:flex;
  font-family:'Castellar Bold', 'Castellar';
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:360px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:1920px;
  height:360px;
  display:flex;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:2102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:490px;
  width:1112px;
  height:2102px;
  display:flex;
  opacity:0.8;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:81px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:2511px;
  width:1112px;
  height:81px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(127, 127, 127, 1) 99%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(127, 127, 127, 1) 99%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(127, 127, 127, 1) 99%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee Bold', 'Leelawadee Regular', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  font-size:49px;
  color:#000000;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:432px;
  width:1112px;
  height:80px;
  display:flex;
  font-family:'Leelawadee Bold', 'Leelawadee Regular', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  font-size:49px;
  color:#000000;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee Bold', 'Leelawadee Regular', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:537px;
  width:272px;
  height:39px;
  display:flex;
  font-family:'Leelawadee Bold', 'Leelawadee Regular', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:699px;
  width:178px;
  height:51px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:1696px;
  top:32px;
  width:78px;
  height:24px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:23px;
  width:158px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:23px;
  width:167px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:23px;
  width:65px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:23px;
  width:167px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u288_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:606px;
  width:588px;
  height:49px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288.disabled {
}
