<!DOCTYPE html>
<html lang="en">
<head>

	{% block link %} {% endblock %}
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='css/dota.css')}}">
<link id="wpml-legacy-vertical-list-0-inline-css" type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/dota2.css')}}">



<title>Dota 2</title>




</head>
<body>
{% block one %} {% endblock %}


{% block login %} {% endblock %}

	<div class="limiter">

		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-for" action="" method="post" novalidate>
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
					{{form.hidden_tag()}}
					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" >
						{{form.email(class='input100',placeholder="Email")}}
						<span class="focus-input100" data-placeholder="&#xf203;"></span>
						{% for error in form.email.errors %}
						<!--<input class="input100" type="text" name="username" placeholder="Username"> -->
						<span class="focus-input100" data-placeholder="&#xf203;"></span>
						[{{error}}]
						{% endfor %}

					</div>

					<div class="wrap-input100 validate-input" >
						{{form.password(class="input100",placeholder="Password")}}
						<span class="focus-input100" data-placeholder="&#xf191;" ></span>
					<!--	<input class="input100" type="password" name="pass" placeholder="Password"> -->
						{% for error in form.password.errors %}

						[{{error}}]


						{% endfor %}
					</div>

					<div class="contact100-form-checkbox">
						<!--<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me"> -->
						{{form.remember_me(class="input-checkbox100",id="ckb1")}}
						{{form.remember_me.label(class="label-checkbox100",for="ckb1")}}
						<!--<label class="label-checkbox100" for="ckb1">
							Remember me
						</label> -->
					</div>

					<div class="container-login100-form-btn">
						{{form.submit(class="login100-form-btn",placeholder="LogIn")}}
						<!--<button class="login100-form-btn">
							Login
						</button>-->
					</div>
					<div >
						{% if flag1==1 %}
				<center>		<p> <font color="red "> Invalid Email or Password </font></p> <center>
						{% endif %}
					</div>

				</form>

			</div>
		</div>
	</div>
{% extends 'navbar.html' %}
	{% block loginending %} {% endblock %}





	<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</body>
</html>
