body {
  margin:0px;
  background-color:rgba(127, 127, 127, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1512px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:432px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:72px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:72px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Castellar Bold', 'Castellar';
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:17px;
  width:367px;
  height:39px;
  display:flex;
  font-family:'Castellar Bold', 'Castellar';
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:360px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:1920px;
  height:360px;
  display:flex;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:2102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:490px;
  width:1112px;
  height:2102px;
  display:flex;
  opacity:0.8;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:81px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:2511px;
  width:1112px;
  height:81px;
  display:flex;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(127, 127, 127, 1) 99%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(127, 127, 127, 1) 99%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(127, 127, 127, 1) 99%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee Bold', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  font-size:49px;
  color:#000000;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:432px;
  width:1112px;
  height:80px;
  display:flex;
  font-family:'Leelawadee Bold', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  font-size:49px;
  color:#000000;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee Bold', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:531px;
  width:223px;
  height:39px;
  display:flex;
  font-family:'Leelawadee Bold', 'Leelawadee';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u138_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:601px;
  width:588px;
  height:49px;
  display:flex;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u138_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:49px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138.disabled {
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:701px;
  width:178px;
  height:51px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:23px;
  width:158px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:23px;
  width:167px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:23px;
  width:65px;
  height:27px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#AAAAAA;
}
#u142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1696px;
  top:32px;
  width:78px;
  height:24px;
  display:flex;
  font-family:'Leelawadee';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
